body {
  font-family: "Georgia", serif;
  background: #f8f1e7;
  text-align: center;
  padding: 50px 20px;
  color: #4a3b32;
}

.container {
  max-width: 420px;
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  padding: 35px 25px;
  border-radius: 20px;
}
h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
}

input {
  width: 85%;
  padding: 14px;
  margin: 15px 0;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #8b6f47;
  color: white;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

#result {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.6;
}
